.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}

#search{
border: 1px solid black;
}

.monospaced { font-family: 'Ubuntu Mono', monospaced ; }

.product-view-img
{
border: 1px solid black;
}

#logo
{
height: 75px;
width:250px;
padding-left:50px;
}

p, h1{
margin:0;
padding:0;
}
