@(listProductForm: Form[models.Product], selectedProduct: models.Product, user : models.users.User, env : play.api.Environment)
@import helper._

@main("Product Info",user) {
<div class="container">


   
        <h3>@selectedProduct.getTitle()</h3>
   

                <pre id="FloatLeft"><span id="textLightRed">PRICE :</span> @selectedProduct.getPrice() | <span id="textLightRed">Current Max Bidder :</span> @selectedProduct.getSeller() </pre>
		
                @helper.form(action = routes.UserController.bidSubmit(selectedProduct.getId())) {
                <form>
                    <button type="submit" class="btn btn-light" id="search">
                     Up the Ante by €5 
		    </button>
                </form>
                }

                @if(env.resource("public/images/productImages/"+selectedProduct.getId()+".jpg").isDefined) {
                <img src="/assets/images/productImages/@(selectedProduct.getId() +".jpg")" class="img-responsive img-rounded" alt="Image of Product/Manga/Anime.">
                } else {
                <img src="/assets/images/productImages/thumbnails/noImage.png" class="img-responsive"/>
                }
            </div>



           


                <h4 class="page-header TextAlignCenter">About Product</h4>
                <p class="BreakWord">@selectedProduct.getDescription()</p>
                <pre id="FloatLeft"><span id="textLightRed">CATEGORY : </span>@selectedProduct.printCatList()</pre>


</div>



}
