@(listProductForm: Form[models.Product], selectedProduct: models.Product, user : models.users.User)
@import helper._

@main("Product Info",user) {



<div class="container">

    @if(flash.containsKey("success")) {
    <div class="alert alert-success">
        @flash.get("success")
        <div class="text-right">
            <form action="/" method="GET">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_h0fpm1RYECu3Ai5dz8QXDoDX"
                        data-amount="@selectedProduct.getMaxPrice()"
                        data-name="APortal"
                        data-description="Widget"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
        </form>
        </div>

    </div>
    }

    @if(flash.containsKey("unfortunate")) {
    <div class="alert alert-warning">
        @flash.get("unfortunate")
    </div>
    }
</div>


    <div class="container" id="product-section">
        <div class="row">
            <div class="col-md-6">
                <img src="https://picsum.photos/500">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                       <h1>  @selectedProduct.getTitle </h1>
                    </div>
                </div> <!-- end row -->
                <div class="row">
                    <div class="col-md-12">
                        <span class="label label-primary"> @if(selectedProduct.getCategory().getFilter() != "Does not apply"){@selectedProduct.getCategory().getFilter()}</span>
                    </div>
                </div><!-- end row -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="description">
                            @selectedProduct.getDescription()
                        </p>
                    </div>
                </div><!-- end row -->
                <div class="row">
                    <div class="col-md-2 bottom-rule">
                        <h2 class="product-price">@selectedProduct.getPrice()</h2>
                    </div>

                    <div class="col-md-2">
                        @helper.form(action = routes.UserController.bidSubmit(selectedProduct.getId())) {

                        <button type="submit" class="btn btn-lg btn-brand btn-full-width">
                            Add €5
                        </button>
                        }
                    </div>
                </div><!-- end row -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->






}
