@import helper._
@(user: models.users.User, editDetailsForm: Form[models.users.User])
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Profile", user) {
<!-- SOC -->

<div class="under-logo">
    <div class="col-sm-2">
     <img src="https://picsum.photos/250" class="rounded float-left" alt="A generic square placeholder image with rounded corners in a figure."><p>@user.getUsername() | <a href="@controllers.security.routes.LoginController.logout()"> Logout </a></p>
    </div>
</div>

<div class="container">
<h4 class="blockquote text-center"> Your Account Details </h4>
    <div class="blockquote text-center">

        @helper.form(action = routes.UserController.editProfileSubmit(), 'role-> "form") {

        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                       <label id="FormLabel">Username</label><br>
    		     <input type="text" name="username" value="@user.getUsername()">
                </div>
                <div class="form-group col-md-12">
                       <label id="FormLabel">Address Line 1</label><br>
    		     <input type="text" name="address1" value="@user.getAddress1()">
                </div>
                <div class="form-group col-md-12">
                       <label id="FormLabel">Address Line 2</label><br>
    		      <input type="text" name="address2" value="@user.getAddress2()">
                </div>
                <div class="form-group col-md-12">
                       <label id="FormLabel">City</label><br>
    		     <input type="text" name="city" value="@user.getCity()">
                </div>
                <input type="submit" class="form-group col-md-12" value="Save Changes">
            </div>
        </form>

        }

    </div>
</div>






<!-- EOC -->
}
