@import helper._

@(signUpForm: Form[models.users.User], user: models.users.User)

@main("Sign up", user) {
@helper.form(action = routes.HomeController.signupSubmit(), 'role-> "form") {

<div class="container">
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
             @inputText(signUpForm("email"), '_showConstraints -> false,  'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-6">
   	     @inputPassword(signUpForm("password"), '_showConstraints -> false, 'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-6">
  	     @inputText(signUpForm("name"), '_showConstraints -> false, 'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-6">
            @inputText(signUpForm("username"),'_showConstraints -> false,  'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-6">
  	     @inputText(signUpForm("address1"), '_showConstraints -> false, 'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-6">
 	     @inputText(signUpForm("address2"), '_showConstraints -> false, 'class -> "form-control", 'label -> "Email Address")
        </div>
        <div class="form-group col-md-12">
             @inputText(signUpForm("city"),'_showConstraints -> false,  'class -> "form-control", 'label -> "Email Address")
        </div>
                       <input type="submit" class="btn btn-primary" value="Create">
     </div>
</form>
</div>
	}

}
